################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CorexLib
/HeightSensor/DataTransmissionProgram/bin/Debug/Corex.Core.dll
